backend/build/
build/
.gradle/
frontend/node_modules/
frontend/dist/
.idea
env.txt
variables.txt

backend/src/main/resources/key/*.pem
*.iml
.DS_Store
out
test-files-generation/out/

**/__pycache__

**/~$*
/lib/
**/node_modules

**/coverage